<div class="row align-items-center text-center" style="background-color: #1064A6; padding: 10px;">
    <div class="col-md-3 d-flex ">
        <img src="assets/images/logo.png" alt="Logo" style="max-height: 40px;">
    </div>
    <div class="col-md-6">
        <form class="d-flex position-relative justify-content-center" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
    <div class="col-md-3">
        <div class="d-flex justify-content-evenly">
            <div class="account text-center">
                <p class="m-0">Hola, Identifícate<br><strong>Cuenta y listas</strong></p>
            </div>
            <div class="process text-center">
                <p class="m-0">Devoluciones<br><strong>y Pedidos</strong></p>
            </div>
            <div class="cart text-center d-flex align-items-center">
                <img src="assets/images/cart.png" alt="Carrito" style="max-height: 30px; margin-right: 5px;">
                <strong>Cesta</strong>
            </div>
        </div>
    </div>
</div>
